[Unit]
Description=Gunicorn server for SITENAME
[Service]
Restart=on-failure
User=USER
ENVIRONMENT=EMAIL_HOST_PASSWORD=EMAIL_PASSWORD
WorkingDirectory=/home/username/sites/SITENAME/source
ExecStart=/home/username/sites/SITENAME/virtualenv/bin/gunicorn \
  --bind unix:/tmp/SITENAME.socket \
  --capture-output \
  --access-logfile ../access.log \
  --error-logfile ../error.log \
  superlists.wsgi:application
[Install]
WantedBy=multi-user.target