<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do lists</title>
</head>
<body>
<div>
    <input type="text" placeholder="Enter a to-do item" id="new_item_input">

    <table id="to-do-list-table">
        <tbody>
            <tr>1. Buy peacock feathers</tr>
        </tbody>
    </table>
</div>

</body>
</html>